name: "Release"

permissions:
  contents: "write"

on:
  push:
    tags:
      - 'v*'

jobs:
  get-tag:
    name: "Get tag info"
    runs-on: "ubuntu-latest"
    outputs:
      tag_name: ${{ steps.tag-info.outputs.tag_name }}
      version: ${{ steps.tag-info.outputs.version }}
    steps:
      - name: "Extract tag info"
        id: "tag-info"
        run: |
          TAG_NAME="${GITHUB_REF#refs/tags/}"
          VERSION="${TAG_NAME#v}"
          echo "tag_name=$TAG_NAME" >> "$GITHUB_OUTPUT"
          echo "version=$VERSION" >> "$GITHUB_OUTPUT"

  release:
    name: Build and Release
    needs: "get-tag"
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
            artifact_name: rustmaton
            asset_name: rustmaton-${{ needs.get-tag.outputs.version }}-linux-amd64
          - os: macos-latest
            artifact_name: rustmaton
            asset_name: rustmaton-${{ needs.get-tag.outputs.version }}-macos-amd64
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Set up Rust
        uses: actions-rs/toolchain@v1
        with:
          profile: "minimal"
          toolchain: "stable"
          override: true
      - name: Build project
        run: cargo build --release
      - name: Upload binary to release
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: target/release/${{ matrix.artifact_name }}
          asset_name: ${{ matrix.asset_name }}
          tag: ${{ needs.get-tag.outputs.tag_name }}

  release-shapes-installer:
    name: Release patterns and installer
    needs: ["release", "get-tag"]
    runs-on: "ubuntu-latest"
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Upload patterns.json to release
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: patterns.json
          asset_name: patterns.json
          tag: ${{ needs.get-tag.outputs.tag_name }}
      - name: Upload install.sh to release
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: install.sh
          asset_name: install.sh
          tag: ${{ needs.get-tag.outputs.tag_name }}

  publish-crates-io:
    name: Publish to crates.io
    needs: ["get-tag"]
    runs-on: "ubuntu-latest"
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Set up Rust
        uses: actions-rs/toolchain@v1
        with:
          profile: "minimal"
          toolchain: "stable"
          override: true
      - name: Publish to crates.io
        run: cargo publish --token ${{ secrets.CRATES_IO_API_KEY }}
        env:
          CARGO_REGISTRY_TOKEN: ${{ secrets.CRATES_IO_API_KEY }}
