name: "Tag"

permissions:
  contents: write

on:
  workflow_run:
    workflows: ["Build, Test, Lint, Clippy"]
    branches:
      - "main"
    types:
      - "completed"

jobs:
  create-tag:
    name: "Create tag"
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: "ubuntu-latest"
    outputs:
      tag_name: ${{ steps.get-version.outputs.tag_name }}
    steps:
      - name: "Check out the repo"
        uses: actions/checkout@v3
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          ref: ${{ github.event.workflow_run.head_sha }}
          fetch-depth: 0

      - name: "Require RELEASE prefix"
        id: "require-release-prefix"
        shell: "bash"
        run: |
          COMMIT_MSG=$(git log -1 --pretty=%B)
          if [[ "$COMMIT_MSG" =~ ^RELEASE:\  ]]; then
            echo "release_prefix=true" >> "$GITHUB_OUTPUT"
          else
            echo "Commit message does not contain RELEASE: prefix; skipping tag creation."
            echo "release_prefix=false" >> "$GITHUB_OUTPUT"
            exit 0
          fi

      - name: "Read version from Cargo.toml"
        if: ${{ steps.require-release-prefix.outputs.release_prefix == 'true' }}
        id: "get-version"
        shell: "bash"
        run: |
          PKG_VERSION=$(awk -F ' = ' '$1 ~ /^version/ { gsub(/["]/, "", $2); print $2; exit }' Cargo.toml)
          if [[ -z "$PKG_VERSION" ]]; then
            echo "Failed to read version from Cargo.toml"
            exit 1
          fi
          TAG_NAME="v${PKG_VERSION}"
          echo "tag_name=$TAG_NAME" >> "$GITHUB_OUTPUT"

      - name: "Create tag"
        if: ${{ steps.get-version.outputs.tag_name != '' }}
        run: |
          git tag "${{ steps.get-version.outputs.tag_name }}"
          git push origin "${{ steps.get-version.outputs.tag_name }}"
